@font-face {
    font-family: 'snow'; /*a name to be used later*/
    src: url('SnowTimes.ttf'); /*URL to font*/
}

* {
    box-sizing:  border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:  #D44C4C;
    color: #fff;
    font-family: monospace ;
}
 h1, h2, h3 {
    font-family: 'snow' ;
 }
main {
    background-color: #D44C4C;
    width: 60vw;
    height: 70vh;
    display: flex;
    padding: 0vmax;
    border: 8px dashed #fff;
    border-radius: 5px;
    position: relative;
}

main::after {
    display: block;
    position: absolute;
    content: "";
    width: 7.5vmin;
    height: 7.5vmin;
    background-image: url("bauble.png");
    background-repeat: no-repeat;
    background-size: contain ;
    top: -1.5vw;
    right: -1.5vw;
    z-index: 100000;
    transform: rotate(45deg);
}

main::before {
    display: block;
    position: absolute;
    content: "";
    width: 7.5vmin;
    height: 7.5vmin;
    background-image: url("ribbon.png");
    background-repeat: no-repeat;
    background-size: contain ;
    top: -1.5vw;
    left: -1.5vw;
    z-index: 100000;
    transform: rotate(-45deg);
}

#basket1, #basket2, #basket3 {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9AD99E; 
    width: 33.333333%;
    height: 100%;
}

#basket2 {
   border-left: dashed 2px #56705B;
   border-right: dashed 2px #56705B;
}

#basket3 {
    
}

.apple {
    /*background-color: crimson;*/
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
    background: url("ribbon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*filter: grayscale(0.75);*/
}
.apple[data-color="green"] {
    /*background-color: green;*/
    background: url("./bauble.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#rules {
    color: #fff;
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3% 5%;
    font-size: clamp(16px, 15.33px + 0.208vw, 18px);
    position: absolute;
    background: rgba(0,0,0,0.4);
}

#rules button {
    border-radius: 20px;
    padding: 1.5vh 2.5vw;
    cursor: pointer;
    border-color: #D44C4C;
    text-transform: uppercase;
    color: #D44C4C;
    font-family: monospace;
    margin-top: 2vh;
}

footer {
    width: 60vw;
}

footer > p {
   text-align: center;
}


#rules > h2 {
    text-align: center;
    font-size: clamp(36px, 15.33px + 0.208vw, 48px);
}

#count-down {
    display: inline-flex;
    color: white;
    font-weight: bold;
}

header {
    width: 60vw ;
    display:flex;
    justify-content: space-between;
    align-items: center;
}